:root {
    --main: #8b3d8f;
    --secundary: #eb5e9d;
    --trim: #3e2461;
    --text: #ffffff;

    --warning-bk: #FF4500FF;
    --warning-text: #ffffff;
}

/* Main content area styles */
main {
    max-width: calc(100vw - 200px); /* Set maximum width to 100% of viewport width minus 200px */
    margin: 40px auto; /* Add margin to top and bottom, and center horizontally */
    padding: 20px; /* Add padding to content area */
    background-color: #ffffff; /* Set background color to white */
    border: 1px solid #ddd; /* Add border with light gray color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
    display: flex; /* Enable flexbox layout */
    flex-wrap: wrap; /* Allow content to wrap to next line */
    justify-content: space-around; /* Distribute content horizontally with equal spacing */
}

/* Paragraph styles */
p {
    color: #888; /* Set text color to light gray */
}

/* Iframe styles */
iframe {
    border: none; /* Remove border */
    width: calc(55vw - 100px); /* Set width to 50% of viewport width minus 100px */
    height: calc(80vh - 5px); /* Set height to 50% of viewport height minus 100px */
    margin-top: 20px; /* Add margin to top */
    flex-basis: 100%; /* Make iframes take up full width */
}

/* Event section styles */
.event-section {
    flex-basis: 15%; /* Make event sections take up 45% of available width */
    margin: 20px; /* Add margin to top and bottom */
}

/* General section styles */
.general-section {
    flex-basis: 5%; /* Make general section take up 20% of available width */
    margin: 20px; /* Add margin to top and bottom */
}

body {
    /*font-family: Arial, sans-serif;
    background-color: black;*/
    background-color: #eac88a;
    color: var(--text);
    overflow: hidden;
    font-size: 150%;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
    color: #333; /* Set text color to dark gray */
    margin-top: 20px; /* Add margin to top */
    flex-basis: 100%; /* Make headings take up full width */
}

h3 {
    font-size: 150%;
    color: #666; /* Set text color to medium gray */
}

.bottom_msg {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.one_line {
    overflow: hidden;
    line-height: 2em;
    max-height: 2em;
    width: max-content;
}


div.warning {
    background-color: var(--warning-bk);
    color: var(--warning-text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}
div.warning div {
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 200%;
    color: var(--warning-text);
}

div.v3 {
    overflow: hidden;
    text-align: center;
    background-color: var(--main);
    position: absolute;
    width: 33%;
    height: 100%;
    padding: 0px 10px;
}

div.h3 {
    overflow: hidden;
    text-align: center;
    background-color: var(--main);
    position: absolute;
    width: 100%;
    height: 33%;
    padding: 10px 0px;
}

div.v_subplate {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    min-height: 25%;
    margin: 0;
    background: var(--secundary);
    border-radius: 20px 20px 0px 0px;
}

div.h_subplate {
    overflow: hidden;
    position: absolute;
    height: 100%;
    background: var(--secundary);
    border-radius: 20px 0px 0px 20px;
    padding: 0 2%;
}
