:root {
    --main: #eac88a;
    --secundary: #ffffff;
    --trim: #733102;
    --text: #000000;
    /*
    --main: #8b3d8f;
    --secundary: #eb5e9d;
    --trim: #3e2461;
    --text: #ffffff;
*/
    --warning-bk: #FF4500FF;
    --warning-text: #ffffff;
}


body {
    background-color: black;
    color: var(--text);
    overflow: hidden;
    font-size: 150%;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

.one_line {
    overflow: hidden;
    line-height: 2em;
    max-height: 2em;
    width: max-content;
}


div.warning {
    background-color: var(--warning-bk);
    color: var(--warning-text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}
div.warning div {
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 200%;
    color: var(--warning-text);
}

