:root {
    --main: #8b3d8f;
    --secundary: #eb5e9d;
    --trim: #3e2461;
    --text: #ffffff;

    --warning-bk: #FF4500FF;
    --warning-text: #ffffff;
}

body {
    background-color: black;
    color: var(--text);
    overflow: hidden;
    font-size: 150%;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

.bottom_msg {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.one_line {
    overflow: hidden;
    line-height: 2em;
    max-height: 2em;
    width: max-content;
}


div.warning {
    background-color: var(--warning-bk);
    color: var(--warning-text);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}
div.warning div {
    text-align: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 200%;
    color: var(--warning-text);
}

div.v3 {
    overflow: hidden;
    text-align: center;
    background-color: var(--main);
    position: absolute;
    width: 33%;
    height: 100%;
    padding: 0px 10px;
}

div.h3 {
    overflow: hidden;
    text-align: center;
    background-color: var(--main);
    position: absolute;
    width: 100%;
    height: 33%;
    padding: 10px 0px;
}

div.v_subplate {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    min-height: 25%;
    margin: 0;
    background: var(--secundary);
    border-radius: 20px 20px 0px 0px;
}

div.h_subplate {
    overflow: hidden;
    position: absolute;
    height: 100%;
    background: var(--secundary);
    border-radius: 20px 0px 0px 20px;
    padding: 0 2%;
}
