
.bottom_msg {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

div.v3 {
    overflow: hidden;
    text-align: center;
    background-color: var(--main);
    position: absolute;
    width: 33%;
    height: 100%;
    padding: 0px 10px;
}

div.h3 {
    overflow: hidden;
    text-align: center;
    background-color: var(--main);
    position: absolute;
    width: 100%;
    height: 33%;
    padding: 10px 0px;
}

div.v_subplate {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    min-height: 25%;
    margin: 0;
    background: var(--secundary);
    border-radius: 20px 20px 0px 0px;
}

div.h_subplate {
    overflow: hidden;
    position: absolute;
    height: 100%;
    background: var(--secundary);
    border-radius: 20px 0px 0px 20px;
    padding: 0 2%;
}