body {
    background-color: #333;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191919;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 3px;
}

li a:hover {
    border-color: #555;
    border-style: solid;
    margin: 0;
}

a.preview {
    color: #478fff;
}

.active {
    background-color: #004;
}

.filter {
    display: none;
}

.inv {
    display: none;
}

.log {
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

.SystemInfo {
    background-color: #550e9c;
}
.Login {
    background-color: #8c5029;
}
.ScreenLogin {
    background-color: #022e75;
}
.ScreenInfoUpdated {
    background-color: #036c00;
}
.Error{
    background-color: #800000;
}
.DataUpdated{
    background-color: #66750a;
}
.DEFAULT{
    background-color: #555555;
}

div.log div.log_msg {
    background-color: #191919;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 3px;
    width: auto;
}

div.centered {
    text-align: center;
    margin: auto;
}

div.block {
    background-color: #555;
    border: none;
    border-radius: 20px;
    width: fit-content;
    min-width: 50%;
    margin-top: 5vh;
    padding: 20px;
}

table.dataframe {
    width: 98%;
    margin: 1%;
}

table.dataframe th{
    text-align: center;
    padding: 1%;
    background: #555;
}

table.dataframe tr:nth-child(even){
    background: #004;
}

table.dataframe td{
    padding: 1%;
    border-color: #aaa;
}

input {
    margin: 5px;
}

td {
    min-width: 70px;
    max-width: 30vw;
    overflow: clip;
}
