<!-- LayoutConfig: current_event;next_event;msg_otd;locations=2 -->
<table style="width: 100%"><tr><td style="width: 50%">
    <h2>Current Event:</h2>
    <h3 id="event_name"></h3>
    <p id="event_desc"></p>
    <label id="event_start"></label><label> - </label><label id="event_end"></label>

    <h2>Next Event:</h2>
    <h3 id="event_next_name"></h3>
    <p id="event_next_desc"></p>
    <label id="event_next_start"></label><label> - </label><label id="event_next_end"></label>

    <h2>Location:</h2>
    <p id="location"></p>
</td><td style="width: 50%">
    <h2>Current Event:</h2>
    <h3 id="event_name_1"></h3>
    <p id="event_desc_1"></p>
    <label id="event_start_1"></label><label> - </label><label id="event_end_1"></label>

    <h2>Next Event:</h2>
    <h3 id="event_next_name_1"></h3>
    <p id="event_next_desc_1"></p>
    <label id="event_next_start_1"></label><label> - </label><label id="event_next_end_1"></label>

    <h2>Location:</h2>
    <p id="location_1"></p>
</td></tr></table>

<h2>General:</h2>
<p id="msg_of_the_day" class="one_line"></p>
