<!-- LayoutConfig: current_event;next_event;msg_otd -->
<link rel="stylesheet" href="/generall.css">
<div class="current_event">
  <div class="sign">
    <h1 id="location"></h1>
  </div>
  <div>
    <h2 style="display: inline-block;">Current Event:</h2>
    <h2 style="display: inline-block;" id="event_name"></h2><br>
    <label>Ending at: </label><label id="event_end"></label>
  </div>
  <div>
    <p id="event_desc"></p>
  </div>
</div>
<div id="side_panel" class="next_event">
  <h2>Next Event:</h2>
  <h3 id="event_next_name"></h3>
  <label id="event_next_start"></label><label> - </label><label id="event_next_end"></label>
  <p id="event_next_desc"></p>
</div>
<div class="msg_otd">
  <p id="msg_of_the_day" class="msg_otd"></p>
</div>
  <script>
    var msg = document.getElementById("msg_of_the_day");
    var offset = 0;
    var is_scrolling = false;

    var text_loop_len = 100;

    setTimeout(loop, 1000);

    function loop(){
      setTimeout(loop, 20);
      msg.innerText = msg.innerText.replaceAll("\n", " ");
      let ref_width = msg.parentElement.offsetWidth;
      if (is_scrolling){
        if (msg.offsetWidth < ref_width){
          offset = 0;
          is_scrolling = false;
          msg.style = "";
        }else {
          offset++;
          if (offset > msg.offsetWidth){
            offset = -(window.innerWidth);
          }
          msg.style = "transform: translate("+(-offset).toString()+"px, 0)";
        }
      }else {
        if (msg.offsetWidth >= ref_width) {
          is_scrolling = true;
        }
      }
    }
  </script>