<!-- LayoutConfig: current_event;next_event;msg_otd -->
<link rel="stylesheet" href="/generall.css">
<div class="current_event">
  <div class="sign">
    <h1 id="location"></h1>
  </div>
  <div>
    <h2 style="display: inline-block;">Current Event:</h2>
    <h2 style="display: inline-block;" id="event_name"></h2><br>
    <label>Ending at: </label><label id="event_end"></label>
  </div>
  <div>
    <p id="event_desc"></p>
  </div>
</div>
<div id="side_panel" class="next_event">
  <h2>Next Event:</h2>
  <h3 id="event_next_name"></h3>
  <label id="event_next_start"></label><label> - </label><label id="event_next_end"></label>
  <p id="event_next_desc"></p>
</div>
<div class="msg_otd">
  <p id="msg_of_the_day" class="msg_otd"></p>
</div>
<script src="/js/motd_scroll.js"></script>