<!-- LayoutConfig: current_event;next_event;msg_otd -->
<link rel="stylesheet" href="/table.css">
<main>
  <!-- Schedule section with iframe -->
  <div class="event-section">
    <h2>Schedule:</h2>
    <iframe src='https://timetable.kitao.eu/'> title="timetable" </iframe> <!-- link to timetable -->
  </div>

  <!-- Current Event section -->
  <div class="event-section">
    <h2>Current Event:</h2>
    <h3 id="event_name"></h3>
    <p id="event_desc"></p>
    <p id="event_start"></p>
  </div>

  <!-- Next Event section -->
  <div class="event-section">
    <h2>Next Event:</h2>
    <h3 id="event_next_name"></h3>
    <p id="event_next_desc"></p>
    <p id="event_next_start"></p>
  </div>

  <!-- General section -->
  <div class="general-section">
    <h2>General:</h2>
    <p id="location"></p>
    <p id="msg_of_the_day" class="one_line"></p>
  </div>
</main>
